<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="form-group">
        <%= f.label :google_anlytics %>
        <%= f.text_area :google_anlytics, class:"form-control", rows: 2  %>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="form-group">
        <%= f.label :adsence_client %>
        <%= f.text_area :adsence_client, class:"form-control", rows: 2  %>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="form-group">
        <%= f.label :google_search_console %>
        <%= f.text_area :google_search_console, class:"form-control", rows: 2  %>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="form-group">
        <%= f.label :adsense_google_responsive %>
        <%= f.text_area :adsense_google_responsive, class:"form-control", rows: 2  %>
      </div>
    </div>
</div>