<div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="form-group">
            <%= f.label :whatsapp_phone %> <span class="text-muted">(* Exemplo: 5584999999999)</span>
            <%= f.text_field :whatsapp_phone, class: "form-control" %>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="form-group">
            <%= f.label :whatsapp_text %>
            <%= f.text_field :whatsapp_text, class: "form-control" %>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="form-group">
            <%= f.label :wc_whatsapp_primary %>
            <%= f.text_field :wc_whatsapp_primary, class: "form-control" %>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="form-group">
            <%= f.label :wc_whatsapp_secondary %>
            <%= f.text_field :wc_whatsapp_secondary, class: "form-control" %>
        </div>
    </div>
</div>