<div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="form-group">
            <%= f.label :one_signal, class: "col-form-label" %>
            <%= f.text_area :one_signal, class:"form-control", rows: 10 %>
        </div>
        <div class="form-group">
            <%= f.label :onesignal_appid, class: "col-form-label" %>
            <%= f.text_field :onesignal_appid, class:"form-control"%>
        </div>
        <div class="form-group">
            <%= f.label :onesignal_restapi, class: "col-form-label" %>
            <%= f.text_field :onesignal_restapi, class:"form-control"%>
        </div>
    </div>
</div>
<script>
initImagePopup();
</script>