<%- model_class = Mensagem -%>

<% id ||= Time.now.to_i %>
<% remote ||= remote %>
<% datatable_url ||= datatable_mensagens_url(remote: remote, format: 'json') %>

<div class="table-responsive">
	<table class="table table-bordered table-hover table-mensagens" id="table-mensagens-<%= id %>">
		<thead>
			<tr>
				<th>#</th>		
				<th><%= model_class.human_attribute_name(:nome) %></th>
                <th><%= model_class.human_attribute_name(:email) %></th>
				<th><%= model_class.human_attribute_name(:assunto) %></th>	
				<th><%= model_class.human_attribute_name(:respondido) %></th>
                <th><%= model_class.human_attribute_name(:created_at) %></th>
				<th><%= t("helpers.actions") %></th>
			</tr>
		</thead>
		<tbody data-link="row" class="rowlink tbody-mensagens">
		</tbody>
	</table>
</div>
<script type="text/javascript">
    initDatatable();
    var table_mensagens_<%= id %> = $('#table-mensagens-<%= id %>').DataTable({
        stateSave: true,
        order: [[0, "desc"], ["4", "asc"]],
        serverSide: true,
        processing: true,
        ajax: {
            url: "<%= datatable_url %>",
            type: "POST",
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
            }
        },
        columns: [
            { "data": "index", "class": "col-md-1 coluna-index" },
            { "data": "nome" },
            { "data": "email" },
            { "data": "assunto" },
            { "data": "respondido" },
            { "data": "created_at" },
            { "data": "opcoes", "class": "rowlink-skip coluna-opcoes", "orderable": false }
        ],
        initComplete: function() {
            var api = this.api();
            // Atrasa a consulta para evitar requisições a cada caracter digitado
            $(".table-mensagens").closest("div.table-responsive").find('div.dataTables_filter input').off('keyup.DT input.DT');
            var searchDelay = null;
            $(".table-mensagens").closest("div.table-responsive").find('div.dataTables_filter input').on('keyup', function() {
                var search = $(".table-mensagens").closest("div.table-responsive").find('div.dataTables_filter input').val();
                clearTimeout(searchDelay);
                searchDelay = setTimeout(function() {
                    if (search != null) {
                        api.search(search).draw();
                    }
                }, 1000);
            });
        }
    });

    document.addEventListener("turbolinks:before-cache", function() {
        if (table_mensagens_<%= id %> !== null) {
            table_mensagens_<%= id %>.destroy();
            table_mensagens_<%= id %> = null;
        }
    });
</script>