<%% remote = false if remote == nil %>
<%% id ||= Time.now.to_i %> 

<%%= form_with(model: <%= model_resource_name %>, local: true, remote: remote, html: {class: 'form', remote: remote}) do |form| %>
    <div class="card-body">
        <%%= error_messages(@<%= model_resource_name %>) %>

        <% attributes.each do |attribute| -%>
            <% if attribute.password_digest? -%>
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="form-group">
                        <%%= form.label :password %>
                        <%%= form.password_field :password, class: 'form-control' %>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="form-group">
                        <%%= form.label :password_confirmation %>
                        <%%= form.password_field :password_confirmation, class: 'form-control' %>
                    </div>
                </div>
            <% else %>
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="form-group">
                        <%%= f.label :<%= attribute.column_name %> %>
                        <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, class: "form-control" %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12">
                <%%= render "<%= plural_table_name %>/form_actions" %>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12">
                <%%= link_to t("helpers.links.cancel"), <%= plural_table_name %>_path, :class => "btn btn-secondary" %>
            </div>
        </div>
    </div>
    
<%% end %>