<%%- model_class = <%= singular_table_name.titleize %> -%>

<% remote ||= remote %>

<div class="accordion accordion-toggle-plus" id="accordion<%= singular_table_name.titleize %>">
  <div class="card">
    <div class="card-header" id="heading<%= singular_table_name.titleize %>">
      <div class="card-title collapsed" data-toggle="collapse" data-target="#collapse<%= singular_table_name.titleize %>" aria-expanded="false" aria-controls="collapse<%= singular_table_name.titleize %>">
        <%%= model_class.model_name.human(count: 2).titleize %>
      </div>
    </div>
    <div id="collapse<%= singular_table_name.titleize %>" class="collapse" aria-labelledby="heading<%= singular_table_name.titleize %>" data-parent="#accordion<%= singular_table_name.titleize %>" style="">
      <div class="card-body">
        <%%= render partial: "<%= plural_table_name %>/datatable", locals: {remote: remote} %>
      </div>
    </div>
  </div>
</div>
<hr>
