<% id ||= Time.now.to_i %> 
<%= form_for([@usuario], url:{action: :update_password}, remote: true, class: "form") do |f| %>
    <%= error_messages(@usuario) %>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12">
                <div class="form-group">
                    <%= f.label :current_password, class: "control-label label-required" %>
                    <%= f.password_field :current_password, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :password, class: "control-label label-required" %>
                    <%= f.password_field :password, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :password_confirmation, class: "control-label label-required" %>
                    <%= f.password_field :password_confirmation, class: "form-control" %>
                </div>
            </div>
        </div>
    </div>
<% end %>
<script>
    initCampoObrigatorio();
</script>