<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.application_name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->

    <!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <%= render 'shared/modals' %>
    <%= render 'shared/notificacao' %>
    <%= render 'shared/header-mobile' %>
    <%= render 'shared/main' %>

     <!-- begin:: Loader -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section-full"></div>
    </div>
    <!-- end:: Loader -->

    <script type="text/javascript">
        function stopLoader(event) {
            var timeStamp = event.timeStamp;
            $('#loader-wrapper').data('target-timestamp', timeStamp);
            setTimeout(function(){
                if($('#loader-wrapper').is(":visible") && timeStamp == $('#loader-wrapper').data('target-timestamp')) {
                    $('#loader-wrapper').hide();
                    toastr["warning"]("O sistema estar apresentando lentidão excessiva. Aguarde, ou informe ao suporte!");
                }
            }, 3000, timeStamp);
        };

        function init() {
            $("a[href*='/'][target!='_blank'], input[type='submit'], button[type='submit'], .btn-loading").not('.btn-not-loading').on('click', function(){
                if (window.event.ctrlKey) {} else {
                    $('#loader-wrapper').show(stopLoader(event));
                }
            });
            $("a[data-method='delete']").not('.btn-not-loading').on('confirm:complete', function(ev) {
                if (!ev.result) {
                    setTimeout(function(){
                        $('#loader-wrapper').hide();
                    }, 2000);
                }
            });
        };

        $(document).on('turbolinks:before-cache', function(){
            $('#loader-wrapper').show(stopLoader(event));
        });

        $(document).ajaxStop(function(){
            $('#loader-wrapper').hide();
            init();
        }).ajaxError(function(){
            $('#loader-wrapper').hide();
            init();
        });

        $(document).ready(function() {
            $('#loader-wrapper').hide();
        });

        $(document).on('turbolinks:load', function(){
            $('#loader-wrapper').hide();

            // Init Desktop & Mobile Headers
            KTLayoutHeader.init('kt_header', 'kt_header_mobile');

            // Init Header Menu
            KTLayoutHeaderMenu.init('kt_header_menu', 'kt_header_menu_wrapper');

            // Init Header Topbar For Mobile Mode
            KTLayoutHeaderTopbar.init('kt_header_mobile_topbar_toggle');

            // Init Brand Panel For Logo
            KTLayoutBrand.init('kt_brand');

            // Init Aside
            KTLayoutAside.init('kt_aside');

            // Init Aside Menu Toggle
            KTLayoutAsideToggle.init('kt_aside_toggle');

            // Init Aside Menu
            KTLayoutAsideMenu.init('kt_aside_menu');

            // Init Subheader
            KTLayoutSubheader.init('kt_subheader');

            // Init Content
            KTLayoutContent.init('kt_content');

            // Init Footer
            KTLayoutFooter.init('kt_footer');

            // Init KTLayoutQuickUser
            KTLayoutQuickUser.init('kt_quick_user');

            // Init Quick Offcanvas Panel
            KTLayoutQuickPanel.init('kt_quick_panel');
        });

        $(document).on('show.bs.modal', '.modal', function () {
            $('#loader-wrapper').hide();
            init();
        });

        $(document).on('hidden.bs.modal', '.modal', function () {
            $('#loader-wrapper').hide();
        });

        init();
    </script>
  </body>
</html>
